.Header-page {
  text-align: center;
  background-color: #0a0a45;
  color: white;
  padding: 20px 0px;
  margin: 0px 0px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

/* .flex-container {
  display: grid;
  grid-template-columns: 100%;
  background-color: white;
  padding: 20px;
  margin: 20px;
  justify-content: center;
} */

.match-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  align-content: start;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  margin: 10px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.ContainerCard {
  padding: 10px;
  background-color: white;
  margin: 20px;
  font-weight: 200;
  font-size: 18px;
  border-radius: 2px;
  text-align: center;
}
.ContainerBox {
  background-color: white;
  padding: 20px;
}

.button {
  background-color: #0a0a45;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 8px;
  width: 70%;
}
.button:hover {
  transition-delay: 0.1s;
  background-color: white;
  color: #0a0a45;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

label {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .Header-page h1 {
    font-size: 18px;
    padding: 13px;
  }
  .flex-container {
    display: grid;
    grid-template-columns: 90%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    justify-content: center;
  }

  .ContainerCard {
    padding: 20px;
    background-color: white;
    margin: 20px;
    font-weight: 200;
    font-size: 18px;
    border-radius: 2px;
    border: 2px solid #0a0a45;
    text-align: center;
  }
  .match-list {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
