.container {
  width: 100%;
}
.Header-page {
  text-align: center;
  background-color: #0a0a45;
  color: white;
  padding: 20px 0px;
  margin: 0px 0px;
}

.button {
  background-color: #0a0a45;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}
